*
{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

#painel
{
	background-color: #1f554d;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

#buttons
{
	float: left;
	padding-top: 23px;
	text-align: center;
	width: 25%;
}

#current-music
{
	float: left;
	text-align: center;
	width: 50%;
}

#logo
{
	padding-left: 10px
}

#img-playlist
{
	padding-top: 10px;
}

#img-play-list
{
	padding-right: 10px;
	margin-top: 5px;
}

#img-remove-music
{
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

#playlist
{
	border: solid 4px #1f554d;
    border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	width: 40%;
}

#volume
{
	margin-left: 10px;
	width: 30%;
}

#progress
{
	background: #1f554d;
	border: 1px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	color: white;
	height: 2px;
	width: 80%;
}
 
/* Firefox */
#progress::-moz-progress-bar { 
    background: white;   
}
 
/* Chrome */
#progress::-webkit-progress-value {
    background: white;
}

.button
{
	padding: 10px;
	color: #ffffff;
}

.extras > input
{
    display: none;
}

.extras
{
	padding-top: 20px;
}

.extra-controller
{
	padding-left: 15px;
}

h1
{
	color: #ffffff;
	font-family: 'Raleway',sans-serif;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
}

li
{
	color: #1f554d;
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
}

a
{
	cursor: pointer;
}
