*
{
	margin:0;
	padding:0;
	list-style:none;
	vertical-align:baseline;
}

#painel
{
	background-color: #1f554d;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

#buttons
{
	float: left;
	padding-top: 13px;
	text-align: center;
	width: 25%;
}

#current-music
{
	float: left;
	text-align: center;
	width: 55%;
}

#logo
{
	padding-left: 10px
}

#img-playlist
{
	padding-top: 10px;
}

#img-play-list
{
	padding-right: 10px;
	margin-top: 5px;
}

#img-remove-music
{
	float: right;
	padding-right: 10px;
	padding-top: 5px;
}

#playlist
{
	border: solid 4px #1f554d;
    border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	width: 40%;
}

#volume
{
	margin-left: 10px;
}

.button
{
	padding: 10px;
	color: #ffffff;
}

.extras > input
{
    display: none;
}

.extras
{
	padding-top: 10px;
}

.extra-controller
{
	padding-left: 10px;
}

h1
{
	color: #ffffff;
	font-family: 'Raleway',sans-serif;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
}

li
{
	color: #1f554d;
	font-family: 'Raleway',sans-serif;
	font-size: 15px;
}

a
{
	cursor: pointer; 
}
